<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/derby-10.3.2.1/driver/derby2861/Derby2861.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="derby2861.Derby2861"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="derby-10.3.2.1"/>
</launchConfiguration>
