<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mcr-test/src/edu/tamu/aser/rvtest/jigsaw/JigsawHarnessPretex.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.tamu.aser.rvtest.jigsaw.JigsawHarnessPretex"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mcr-test"/>
</launchConfiguration>
